<div class="stickyFooterDependancy" style="margin-top:50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 center" style="border-right:solid 1px #d6d6d6">
                <i class="fa fa-warning" style="font-size:180pt;color:#c7c7c7;padding-top:35px"></i>
            </div>
            <div class="col-md-9">
                <div class="jumbotron" style="background-color:white">
                    <h1>Pending Approval</h1>
                    <p>Sorry {{main.user.firstname}}, it seems that your account is still being set up. If it has been more than 2 hours since you signed up, please submit a support ticket support@clockworks.ca</p>
                </div>
            </div>
        </div>
    </div>
</div>