<div class="stickyFooterDependancy" style="margin-top:50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <side-menu active="'users'"></side-menu>
            </div>
            <div class="col-md-9">
                <table class="table table-bordered">
                    <thead>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Position</td>
                        <td>School</td>
                        <td>Department</td>
                        <td>Email</td>
                        <td>Client</td>
                        <td>Admin</td>
                        <td>Actions</td>
                    </thead>
                    <tr ng-repeat="user in manageUsers.users" ng-class="{'warning': user.sid == 0}">
                        <td>{{user.pid}}</td>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{user.jobtitle}}</td>
                        <td>{{user.name}}</td>
                        <td>Disability</td>
                        <td>{{user.email}}</td>
                        <td><input type="checkbox" ng-model="user.client" ng-true-value="'1'"></td>
                        <td><input type="checkbox" ng-model="user.admin" ng-true-value="'1'"></td>
                        <td><a class="btn btn-sm btn-default" ng-click="manageUsers.deleteUser(user.pid)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
