<div class="stickyFooterDependancy" style="margin-top:50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <side-menu active="'techs'"></side-menu>
            </div>
            <div class="col-md-9">
                <table class="table">
                    <th>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Actions</td>
                    </th>
                </table>
            </div>
        </div>
    </div>
</div>
