.moderate-suggestion{
    cursor: pointer;
}

.moderate-btn-success{
    border-color:#4cae4c;
}

.moderate-btn-warning{
    border-color:#eea236;
}

.moderate-btn-danger{
    border-color:#d43f3a;
}